.about{
    color: #aad;
    width: 75%;
    margin: auto;
    font-family:  Bookman, Helvetica, sans;
    line-height: 150%;
}

.about h1{
    font-size: 3rem;
    text-align: center;
}

.aboutme{
    width: 75%;
}